@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap'); 

$primary-font: "Merienda", cursive;
$white-color: #fff; 
$black-color: #000;
$shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.25);