nav ul {
    list-style: none;
    display: flex;
    font-size: 12px;
    gap: 20px;
    align-items: center;

    li a {
      text-decoration: none;
      transition: color 0.3s;
      display: inline-flex;
      align-items: center;
      gap: 4px;
    }

    li a.active {
      color: #b47b48;
      font-weight: bold;
    }

    li a:hover {
      color: #b47b48;
    }
}