@import '../../styles/variables';
.banner {
    font-family: $primary-font;
    padding: 200px;
    color: $white-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    p {
        font-size: 24px;
    }
}